<section class="grid-container col-1 blue p-5">
    <div class="grid-item text-color-white">
        <h1 class="text-uppercase">subscribe to our newsletter</h1>
        <p>To subscribe to our <b>awesome</b> newsletter <i>just</i> enter your e-mail address and press <strong>subscribe!</strong></p>
    </div>
    <div class="grid-item">
        <form id="newsletterForm">
            <input class="w-50" type="email" name="email" placeholder="Enter your e-mail address"/>
        </form>
    </div>
    <div class="grid-item">
        <button id="submitNewsletter" class="button-round">Subscribe</button>
    </div>
</section>