<div class="grid-container col-1 m-6">
        <div class="grid-item">
            <video width="560" height="315" controls>
                <source src="https://www.youtube.com/watch?v=MXXRHpVed3M" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="grid-item">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/MXXRHpVed3M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
</div>
